<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b63d94d3-e02a-4790-a186-c87a8de96ed3" Publisher="CN=PhilouNeuch" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AdnOAuthCSharp</DisplayName>
    <PublisherDisplayName>Autodesk - ADN</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdskOAuth.App">
      <VisualElements DisplayName="ADN OAuth C#" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ADN OAuth Logger Sample by Philippe Leefsma, DevTech July 2013" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>